@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary: #6d6d6d;
  --secondary: #00146b;
  --app-grey: #F2F2F2;
  --warning: #fce043;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.super-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  flex-grow: 1;
  color: white;
  background-color: #ff004c;
  background-image: linear-gradient(315deg, var(--secondary)0%, var(--primary) 80%);
}

main {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: 2em;
  margin: 20px 0;
}

form input {
  width: 100%;
  padding: 3% 7%;
  border-radius: 50vh;
  border: 2px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 10px var(--secondary);
  font-size: 20px;
}

.btn-buscar {
  justify-content: space-around;
  
}

form button {
  color: white;
  /* font-weight: bold; */
  font-size: 1em;
  background-color: var(--primary);
  border: none;
  border-radius: 50vh;
  margin: 20% 2.5%;
  padding: 3% 7%;
  cursor: pointer;


}

button:hover {
  background-color: var(--secondary);
}

footer {
  flex-grow: 1;
  background-color: var(--app-grey);
  color: rgb(138, 138, 138);
}
