* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    border-right: 0px;
}


header {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
}

.parte-batman {
    align-self: center;
    margin: 1em;
}

h1 {
    background-color: #C4C4C4;
    text-align: center;
    font-size: 2em;
    color: #005677;
    letter-spacing: 10px;
}

main { 
    margin: 5em 0;
}

section div {
    background-color: #C4C4C4;
    font-size: 1.25em;
    color: #005677;
    letter-spacing: 5px;
    font-weight: bold;
    border-left: transparent 15px solid;
}

ul {
    margin: 2% 1.5%;
}

li {
    position: relative;
    left: 2em;
    margin: 1% 0;
}


span {
    font-weight: bold;
    font-style: italic;
}

dl {
    margin: 2% 2%;

}

p {
    margin-left: 5em;
}

footer div {
    display: flex;
    background-color: #005677;
    color: white;
    padding: 1em;
    justify-content: center;
}

h3, img {
    margin: 0 20px;
} 